<section id="signup" style="height: 100vh;" class="w100 center">
  <div class="row w-100 h-100">
    <div class="d-sm-none d-lg-block col-lg-7 p-0">
      <nuxt-img
        @load="showAfterLoad"
        :class="{'opacity-enable': mediaLoaded}"
        class="auth_background hide_alt opacity-disable"
        alt="dog image"
        src="/animals/yellow-dog.webp"
      />
    </div>
    <div class="col-md-12 col-lg-5 auth_form--container" v-if="!mailSend">
      <h1 class="auth_title text-dark mb-5">Entrez votre email pour réinitialiser le mot de passe</h1>
      <Logo style="width: 150px; height: 150px; margin-bottom: 2rem;"/>
      <MailForm ref="MailForm" @submit="handleSubmit" style="width: 100%" ButtonText="Envoyer"/>
      <NuxtLink class="text-primary mt-3" to="/signup">Retour</NuxtLink>
    </div>
    <div class="col-md-12 col-lg-5 auth_form--container" v-if="mailSend">
      <h1 class="auth_confirm--title text-gray-100 mb-5">Si un compte existe pour <b>{{ email }}</b>,
        vous recevrez un e-mail avec des instructions sur la réinitialisation de votre mot de passe. S'il n'arrive pas, assurez-vous de vérifier vos spams.</h1>
      <NuxtLink class="text-primary mt-3" to="/login">Retour</NuxtLink>
    </div>
  </div>
</section>
