*, ::after, ::before {
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
}

button, input[type="submit"], input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.hide_alt {
  font-size: 0;
}


:last-child {
  margin-bottom: 0 !important;
}

.full_vh {
  min-height: 100vh;
}

.cap {
  text-transform: capitalize;
}

.divider {
  width: 100%;
  height: 1px;
  background: #e3e3e3;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.align_start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.align_center {
  display: flex;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}
