@import "materialIcon";
@import "bootstrap";
@import "starter";
@import "animations";
.md_input {
  height: 50px;
}

.btn:hover:not(:disabled):not(:active) {
  transform: translateY(-2px);
}
.btn:not(:disabled):not(:active) {
  transition: transform .2s;
}
.opacity-disable {
  opacity: 1;
  animation: fadeIn 1s;
}

.opacity-enable {
  opacity: 1;
}

