<b-navbar toggleable="lg" class="navbar">

  <IconButton id="bar_button" icon="fa-bars" :size="20"/>
  <b-tooltip target="bar_button">Afficher la navigation</b-tooltip>

  <b-navbar-brand style="margin-left: 10px;">NavBar</b-navbar-brand>

  <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

  <b-collapse id="nav-collapse" is-nav>

    <!-- Right aligned nav items -->
    <b-navbar-nav class="ml-auto">

      <b-nav-item-dropdown right>
        <!-- Using 'button-content' slot -->
        <template #button-content>
          <em>Auth</em>
        </template>
        <b-dropdown-item href="#">Profile</b-dropdown-item>
        <b-dropdown-item href="#">Sign Out</b-dropdown-item>
      </b-nav-item-dropdown>
    </b-navbar-nav>
  </b-collapse>
</b-navbar>
