<b-form class="auth_form" @submit.prevent="handleSubmit">
  <validation-observer ref="signupObserver" v-slot="{ errors }" tag="div"
                       style="display: flex; flex-direction: column; gap: 24px;">
    <validation-provider v-slot="{ errors }" name="Le nom de votre élevage" rules="required|email" tag="div">
      <b-form-input
        id="name"
        class="md_input"
        v-model="form.name"
        type="text"
        placeholder="Le nom de votre élevage"
        autocomplete="off"
        :class="{'is-invalid': errors.length > 0}"
        required
      />
      <div class="invalid-feedback" v-if="errors.length > 0">
        {{ errors[0] }}
      </div>
    </validation-provider>
    <validation-provider v-slot="{ errors }" name="La description de votre élevage" rules="required" tag="div">
      <b-form-input
        id="description"
        class="md_input"
        v-model="form.description"
        type="number"
        autocomplete="off"
        :class="{'is-invalid': errors.length > 0}"
        placeholder="La toto de votre élevage"
        required
      />
      <div class="invalid-feedback" v-if="errors.length > 0">
        {{ errors[0] }}
      </div>
    </validation-provider>
      <button type="submit" :disabled="formIsEmpty || formContainErrors(errors)" class="btn btn-primary auth_btn">
        <span v-if="!loading">{{ ButtonText }}</span>
        <TextLoad v-if="loading"/>
      </button>
  </validation-observer>
</b-form>
