section{
  padding: 30px;
}

.container{
  margin-bottom: 20px;
}

.buttonSave{
  margin-top: 5px;
}

#profile{
  margin-left: 20px;
  font-weight: bold;
  font-size: 24px;
}

#Picture{
  display: flex;
}

#Content{
  align-items: center;
}



