<b-form class="auth_form w-100" @submit.prevent="handleSubmit">
  <validation-observer ref="loginObserver" tag="div" style="display: flex; flex-direction: column; gap: 24px;">
    <validation-provider v-slot="{ errors }" name="L'email" rules="required|email" tag="div">
      <b-form-input
        id="email"
        class="md_input"
        v-model="form.email"
        type="email"
        placeholder="Email"
        autocomplete="off"
        :class="{'is-invalid': errors.length > 0}"
        required
      />
      <div class="invalid-feedback" v-if="errors.length > 0">
        {{ errors[0] }}
      </div>
    </validation-provider>
    <validation-provider v-slot="{ errors }" name="Le mot de passe" rules="required" tag="div">
      <b-form-input
        id="password"
        class="md_input"
        v-model="form.password"
        type="password"
        autocomplete="off"
        :class="{'is-invalid': errors.length > 0}"
        placeholder="Mot de passe"
        required
      />
      <div class="invalid-feedback" v-if="errors.length > 0">
        {{ errors[0] }}
      </div>
    </validation-provider>
  </validation-observer>

    <button type="submit" class="btn btn-primary auth_btn">
      <span v-if="!loading">{{ ButtonText }}</span>
      <TextLoad v-if="loading"/>
    </button>
  </b-form>
