<div class="bigContainer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 nextInput">
        <div class="col-12">
          <span class="col-md-4 col-sm-2">Username</span>
          <b-form-input placeholder="User Name" class="col-md-8 col-sm-10"></b-form-input>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="col-12">
          <span class="col-md-4 col-sm-2">Website</span>
          <b-form-input placeholder="Web Site" class="col-md-8 col-sm-10" ></b-form-input>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="col-12">
          <span class="col-md-4 col-sm-2">Photo</span>
          <Avatar/>
          <b-button variant="white" style="border-color: #999fa5; margin-left: 5px">Delete</b-button>
          <b-button variant="white" style="border-color: #999fa5; margin-left: 5px">Update</b-button>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 nextInput">
        <div class="col-12">
          <span class="col-md-4 col-sm-2">Job Title</span>
          <b-form-input v-model="profile.jobTitle" placeholder="User Name" class="col-md-8 col-sm-10"></b-form-input>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="col-12 ">
          <span class="col-md-4 col-sm-2">Email</span>
          <b-form-input v-model="profile.email" placeholder="Web Site" class="col-md-8 col-sm-10" ></b-form-input>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="col-12">
          <span class="col-md-4 col-sm-2">Your Bio</span>
          <textarea class="col-md-8 col-sm-10 form-control" rows="6"></textarea>
        </div>
      </div>
    </div>
  </div>

</div>
